{% extends 'base.html' %}
{% import 'comp/_macro.html' as macro %}

{% block title %}AT-Blog{% endblock %}

{% block content %}
{{ super() }}
<div class="container content">
	<div class="row">
		<div class="col-md-9 column">
            {% include 'comp/_posts.html' %}
			<div class="pagination">
				{{ macro.pagination(pagination, 'main.index') }}
			</div>
		</div>
		<div class="col-md-3 column sidebar">
			<h3 class="tag-head text-center">TAGS</h3>
			<ul class="tag-list">
				<li class="tag-item h4">tag1()</li>
				<li class="tag-item h4">tag2()</li>
				<li class="tag-item h4">tag3()</li>
				<li class="tag-item h4">tag4()</li>
			</ul>
		</div>
	</div>
</div>


{% endblock content %}