<ul class="comments">
    {% for post in posts %}
    <li class="comment">
        <div class="comment-thumbnail">
            <a href="{{ url_for('user.user_profile', username=post.author.username) }}">
                <img class="img-rounded profile_thumbnail"
                     src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-author">
                <a href="{{ url_for('user.user_profile', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </div>
            <a class="comment-body" href="{{ url_for('post.post_profile', id=post.id)}}">{{ post.title }}</a>
            <div class="comment-date">{{ moment(post.timestamp).format('LLL') }}</div>
        </div>
        <div class="operation">
            <a href="{{ url_for('post.edit_post', id=post.id)}}">
                <button type="button" class="btn btn-primary">
                <span></span>编辑
                </button>
            </a>
            <button type="button" class="btn btn-danger" post-id="{{ post.id }}" data-toggle="modal" data-target="#confirm">
                <span></span>删除
            </button>
                    <!-- 确认模态框 -->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="confirmLabel">确认删除</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <a  id="modal-confirm" href="#">
                    <button type="button" class="btn btn-danger">确定</button>
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
        </div>
    </li>
    {% endfor %}
</ul>

<script>
    $(document).ready(function(){
        $('#confirm').on('show.bs.modal', function(e){
            var btn = $(e.relatedTarget);
            $(this).children().find('#modal-confirm').attr('href', 'http://127.0.0.1:5000/post/delete_post/' + btn.attr('post-id'));
            var title = btn.parents('.operation').prev().children().text();
            $(this).find('.modal-body').text('确定要删除标题为“' + title + '”的文章吗？');
    });});
</script>
