<!--宏的参数列表中不用写**kwarg，kwarg为宏内部的特殊参数，能够获取所有关键字变量-->
{% macro pagination(pagination, endpoint) %}
<ul class="pagination">
    {% if pagination.has_prev %}
          <li><a href="{{ url_for(endpoint, p=pagination.page - 1, **kwargs)}}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
    {% for page in pagination.iter_pages(left_current=2, left_edge=2, right_current=2, right_edge=2) %}
        {% if page %}
            {% if page == pagination.page %}
            <li class="active"><a href=#">{{ page }}</a></li>
            {% else %}
            <!-- **kwargs获取关键字变量，例如需要传给路由的动态参数<>，而url_for在传入的参数中搜索并使用路由
            所需参数，剩下的关键字参数均作为查询字符串 -->
            <li><a href="{{ url_for(endpoint, p=page, **kwargs) }}">{{ page }}</a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    {% if not pagination.has_next %}
        <li class="disabled"><a href="#">&raquo;</a></li>
    {% else %}
        <li><a href="{{ url_for(endpoint, p=pagination.page + 1, **kwargs) }}">&raquo;</a></li>
    {% endif %}
</ul>
{% endmacro %}

{% macro pagination_comments(pagination, endpoint) %}
<ul class="pagination">
    {% if pagination.has_prev %}
          <li><a href="{{ url_for(endpoint, cp=pagination.page - 1, **kwargs) }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
    {% for page in pagination.iter_pages(left_current=2, left_edge=2, right_current=2, right_edge=2) %}
        {% if page %}
            {% if page == pagination.page %}
            <li class="active"><a href="#">{{ page }}</a></li>
            {% else %}
            <li><a href="{{ url_for(endpoint, cp=page, **kwargs) }}">{{ page }}</a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}
    {% if not pagination.has_next %}
        <li class="disabled"><a href="#">&raquo;</a></li>
    {% else %}
        <li><a href="{{ url_for(endpoint, cp=pagination.page + 1, **kwargs) }}">&raquo;</a></li>
    {% endif %}
</ul>
{% endmacro %}