<ul class="posts col-md-8">
    {% for post in posts %}
    <li class="post">
        <div class="profile-thumbnail pull-right">
            <a href="{{ url_for('user.user_profile', username=post.author.username) }}">
                <img class="img-rounded profile_thumbnail"
                     src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-data">{{ moment(post.timestamp).format('LLL') }}</div>
        <div class="post-author">
            <a href="{{ url_for('user.user_profile', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
        </div>
        <div>
            <a href="{{ url_for('post.post_profile', id=post.id)}}">{{ post.title }}</a>
            <div class="pull-right">
                <a href="{{ url_for('post.post_profile', id=post.id)}}#comments">
                <span class="badge">{{ post.comments.count() }}</span>
                </a>
            </div>
        </div>
        <div class="post-body">
            {{ post.summary }}
            <div><a href="{{ url_for('post.post_profile', id=post.id)}}">Read More</a></div>
        </div>
    </li>
    {% endfor %}
</ul>