{% extends 'base.html' %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-md-9 column">
            <div class="post-title h2">{{ tag.name }}</div>
            {% for post in posts %}
                <article class="post">
                    <span class="post-date">
                        <i class="iconfont icon-shijian"></i>
                        {{ moment(post.timestamp).format('YYYY-MM-DD') }}
                    </span>
                    <span>
                        <a href="{{ url_for('post.post_profile', id=post.id) }}">{{ post.title }}</a>
                    </span>
                </article>
            {% endfor %}
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}